body{
    background-color: #defcf9;
   
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: "/Bilder/Winter01.jpg";
}



#kalenderLayout{
    display:flex;
    justify-content: center;
     opacity: 0.85;
    
}

#PartikelCanvas{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;   
    height: 100vh;  
    z-index: -1;    
    
    pointer-events: none; /*Damit die klicks nicht den canvas erwischen */
}

button{
    align-self: flex-start; 
    width: fit-content;    
    background-color: rgba(157, 175, 255, 0.623);
     border-radius: 10px;
    
}


#Infos{
    display: flex;
    background-color:  #bfb7ff;
     border-radius: 10px;
     opacity: 0.85;
}

td.datum-klickbar{
    cursor: pointer;
}

td.datum-klickbar:hover {
    background-color: #f0f0f0;
}

td.ausgewaehlt {
    background-color: #d0d0d0; 
    font-weight: bold;
}

#Kalender {
    display: flex;
    justify-content: center;
    transform: scale(2);
    margin: 120;
    background-color:  #c9ebff;
    
   border-radius: 10px;
}

#Datum {
    color : rgb(23, 37, 10);
   
}



#Info {
    display:flex;
    justify-content: center;
    margin-top: 55;
}



#Datum{
    display:flex;
    justify-content: center
}

#historical{
    display:flex;
    justify-content: left;
    transform: scale(0.8);
}