body{
    background-color: #defcf9;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: "/Bilder/Winter01.jpg";

    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column; /* Elemente stehen jetzt untereinander */
    align-items: center;    /* Zentriert sie horizontal in der Spalte */
    margin: 0;
    min-height: 100vh;
}

#kalenderLayout{
    display: inline-grid;
    grid-template-rows: repeat(9, 100px);
    grid-template-columns: repeat(5, 100px);
    
    opacity: 0.85;
    background-color:  #38b6ff;
    border-radius: 10px;
}


#PartikelCanvas{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;   
    height: 100vh;  
    z-index: -1;    
    
    pointer-events: none; /*Damit die klicks nicht den canvas erwischen */
}

button{
    background-color: rgba(22, 109, 0, 0.26);
    border: none;
    border-radius: 10px;
    margin: 20;
}

button:hover{
     background-color: rgba(47, 236, 0, 0.26);
}

#Info{
    
    grid-row: 6/8;
    grid-column: 1/6;
    text-align: center;
    background-color: rgba(22, 109, 0, 0.26);
    border-radius: 10px;

    /* Innerhalb der Grid centrieren */
    display: flex;
    align-items: center;
    margin: 20;
}

#historical{
    grid-row: 8/11;
    grid-column: 1/6;
    background-color: rgba(22, 109, 0, 0.26);
    border-radius: 10px;
    margin: 20;

    
}

#previousMonth{
    grid-row: 1/1;
    grid-column: 1/1;
    justify-items: center;
    align-items: center;
}
#nextMonth{
    grid-row: 1/1;
    grid-column: 5/5;
    justify-items: center;
    align-items: center;
}
#Datum{
    grid-row: 1/1;
    grid-column: 2/4;
    margin-top: 35;
}

#Infos{
    background-color:  #8acbff;
    border-radius: 10px;
    opacity: 0.85;
}

td.datum-klickbar{
    cursor: pointer;
}

td.datum-klickbar:hover {
    background-color: rgba(22, 109, 0, 0.26);
    border-radius: 10px;
}

td.ausgewaehlt {
    background-color: #d0d0d0; 
    font-weight: bold;
}



#Kalender {
    grid-row: 2/6;
    grid-column:1/6;
    justify-items: right;
    justify-content: right;
    text-align: center;
}



#Datum{
    grid-row: 1/1;
    grid-column:3/6;
    justify-items: center;
    align-items: center;
}

