body{
    background-color: #defcf9;
}

#Infos{
    display: flex;
    background-color:  #c3bef0;
}


#Kalender {
    display: flex;
    justify-content: center;
    transform: scale(2);
    margin: 120;
    background-color:  #cadefc;
}

#Datum {
    color : rgb(23, 37, 10);
   
}



#Info {
    display:flex;
    justify-content: center;
    margin-top: 55;
}



#Datum{
    display:flex;
    justify-content: center
}

#historical{
    display:flex;
    justify-content: left;
    transform: scale(0.8);
}