* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    font-family: sans-serif;
}


#bg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
    background-color: #000;
}


#PartikelCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
}


#kalenderLayout {
    display: inline-grid;
    grid-template-rows: repeat(9, 100px);
    grid-template-columns: repeat(5, 100px);
    opacity: 0.9;
    background-color: #157be0;
    border-radius: 10px;
    padding: 10px;
}


button {
    background-color: #157be0;
    border-radius: 10px;
    border: none;
    padding: 20px;
    font-size: 20px;
    place-self: center;
    cursor: pointer;
}

#previousMonth {
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
    align-self: center;
}

#nextMonth {
    grid-row: 1;
    grid-column: 5;
    justify-self: center;
    align-self: center;
}

button:hover {
    background-color: #53a8b6;
}

.sub {
    background-color: #157be0;
    padding: 10px;
    border-radius: 10px;
}

button:hover,
.sub:hover,
td.date-clickable:hover {
    background-color: #53a8b6;
    cursor: pointer;
}


#Datum {
    grid-row: 1;
    grid-column: 1 / 6;
    display: flex;
    justify-content: center;
    align-items: center;

}

#tableContainer {
    grid-row: 2/6;
    grid-column: 1/6;
    text-align: center;
    font-size: 30px;

}

#Info {
    grid-row: 6/8;
    grid-column: 1/6;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #82ec999c;
}

#historical {
    grid-row: 8/11;
    grid-column: 1/6;
    margin: 20px;
    background-color: #c6ffd288;
}


td.date-clickable {
    cursor: pointer;
}

.today {
    background-color: rgb(155, 255, 61);
    color: black;
}

.saturday {
    color: blue;
}

.sunday {
    color: red;
}

.holiday {
    color: rgb(72, 255, 0);
}

.different_month {
    color: rgb(200, 200, 200);
}